In [2]:
import pandas as pd

data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}

df = pd.DataFrame(data)
print(df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [3]:


selected_rows = df.iloc[[0, 4]]  # To select row 0 and row 4
print(selected_rows)

   Employee_ID    Name Department  Age  Salary  Years_of_Experience  \
0          101   Alice         HR   29   50000                    4
4          105  Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
4   2010-11-25    Male   5000     3.5

In [4]:

rows_3_to_7 = df.iloc[3:8]
print(rows_3_to_7)

   Employee_ID    Name Department  Age  Salary  Years_of_Experience  \
3          104   Diana  Marketing   28   55000                    3
4          105  Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [5]:

rows_4_to_8_cols_2_to_4 = df.iloc[4:9, 2:5]
print(rows_4_to_8_cols_2_to_4)

  Department  Age  Salary
4      Sales   38   60000

In [6]:

rows_all_cols_1_to_3 = df.iloc[:, 1:4]
print(rows_all_cols_1_to_3)

      Name Department  Age
0    Alice         HR   29
1      Bob         IT   34
2  Charlie         IT   41
3    Diana  Marketing   28
4   Edward      Sales   38

In [7]:

import pandas as pd

df_iris = pd.read_csv('iris.csv')

print(df_iris.head())

FileNotFoundError: [Errno 2] No such file or directory: 'iris.csv'

In [ ]:

df_iris_dropped = df_iris.drop(index=4, columns=df_iris.columns[2])

print(df_iris_dropped)

In [ ]:

data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}

df_employees = pd.DataFrame(data)

df_employees.to_csv('employees.csv', index=False)

In [ ]:

print(f"Shape of the DataFrame: {df_employees.shape}")

print("\nSummary of DataFrame:")
print(df_employees.info())

print("\nDescriptive Statistics:")
print(df_employees.describe())

print("\nFirst 5 rows:")
print(df_employees.head())

print("\nLast 3 rows:")
print(df_employees.tail(3))

avg_salary = df_employees['Salary'].mean()
print(f"\nAverage salary of employees: {avg_salary}")

total_bonus = df_employees['Bonus'].sum()
print(f"Total bonus paid to all employees: {total_bonus}")

youngest_age = df_employees['Age'].min()
print(f"Youngest employee's age: {youngest_age}")

highest_rating = df_employees['Rating'].max()
print(f"Highest performance rating: {highest_rating}")

df_sorted = df_employees.sort_values(by='Salary', ascending=False)
print("\nSorted by Salary (Descending):")
print(df_sorted)

def performance_category(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    else:
        return 'Average'

df_employees['Performance'] = df_employees['Rating'].apply(performance_category)
print("\nEmployees with Performance Category:")
print(df_employees)

print("\nMissing Values in DataFrame:")
print(df_employees.isnull().sum())
df_employees.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print("\nRenamed Column:")
print(df_employees)

employees_filtered = df_employees[(df_employees['Years_of_Experience'] > 5) & (df_employees['Department'] == 'IT')]
print("\nEmployees with more than 5 years of experience in IT department:")
print(employees_filtered)

In [ ]:

df_employees['Tax'] = df_employees['Salary'] * 0.10
print("\nEmployees Dataset with Tax:")
print(df_employees)

df_employees.to_csv('modified_employees.csv', index=False)